html {
	font: 18px/1.4 sans-serif;
	margin: 0;
	padding: 0;
}
body {
	padding: 0;
	max-width: 60em;
	margin: 5em auto 2em;
}
h1, h2, h3 {
	font-weight: 400;
	font-style: normal;
}
.symbol {
	font-weight: 300;
	font-size: 1.4em;
	line-height: 1;
}

.is-recording {
	background: red;
	color: white;
}